<html>
    <head>
        <title><%= index %></title>
    </head>
    <body>
        <h1>Message <%= index %></h1>
        <div>
            <span><%= message.text %></span>
            <span><%= message.user %></span>
            <span><%= message.added %></span>
            <a href="/"">back</a>
        </div>    
    </body>
    
</html>