<html>
    <head>
        <%= title %>
    </head>
    <body>
        <h1><% title %></h1>
        <% messages.forEach(function(message, index) { %> 
            <div class="card">
                <span class="message-text"><%= message.text%></span>
                <span class="message-user"><%= message.user%></span>
                <span class="message-added"><%= message.added%></span>
                <a href="/details/<%= index + 1 %>">open</a>
            </div>
        <%})
        %>
        <div>
            <a href="/new">New Message</a>
        </div>
    </body>
</html>