<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <% messages.forEach(function(message, index) { %> 
            <div class="card">
                <div class="message-header">
                    <p class="message-text"><%= message.text%></p>
                    <p class="message-user"><%= message.user%></p>
                </div>
                <p class="message-added"><%= message.added%></p>
                <div>
                    <button>
                        <a href="/details/<%= index + 1 %>">Open</a>
                    </button>
                </div>
            </div>
        <%})
        %>
        <div class="new-message">
            <button>
                <a href="/new">New Message</a>
            </button>
        </div>
    </body>
</html>