
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Messages</h1>
        <% for (let i = 0; i < messages.length; i++) { %>
            <div class="card">
                    <span class="message"><%= messages[i].text %></span>
                    <span class="user"><%= messages[i].user%></span>
                    <span class="added"><%= messages[i].added%></span>
                    
                    <!-- add 1 to message index so url doesnt start at 0 -->
                    <a href="./messages/<%= messages[i] + 1 %>">details</a>
            </div>
        <% }%>
        <div>
            <a href="/new">New Message</a>
        </div>
        
    </body>
</html>